.mainContainer{
    background-color: yellow;
    width: 50%;
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: center;
}
.logoDiv{
    background-color: hotpink;
}
.logos{
    height: 250px;
    width: 250px;
}
.registerationForm{
    background-color: rgb(46, 74, 147);
    width: 100%;
}
.userName{
    /* color: ; */
    display: block;
    margin: 0 auto;
}